ion-content {
  --background: var(--light-blue-basic);
  background: var(--light-blue-basic);
}

.basicGridHome {
  border-radius: 12px;
  margin: auto;
  max-width: 1920px;
  background: transparent;
  padding: 0;
}

.largerWidth {
  width: 100% !important;
}

.masterWelcomeGrid {
  background: var(--light-blue-basic);
  --background: var(--light-blue-basic);
  width: 100%;
  padding: 3% 0;
  margin: 0;
}
