<!-- WELCOME -->
<ion-grid class="leftSideMasterGrid">

  <!-- TITLE AND SUBTITLE -->
  <ion-row class="width100">
    <ion-col>
      <ion-row class="width100"><ion-label class="labelTitleWelcome">{{'start_page.left_side.title_part1' | translate}}<span class="blueLabel">{{'start_page.left_side.title_part2' | translate}}</span>{{'start_page.left_side.title_part3' | translate}}</ion-label></ion-row>
      <ion-row class="width100 marginTop5px"><ion-label class="labelSubtitleWelcome">{{'start_page.left_side.subtitle' | translate}}</ion-label></ion-row>
    </ion-col>
  </ion-row>

  <!-- WELCOME IMAGE -->
  <div class="masterSchemaDiv">
    <img src="assets/images/welcome/welcome.svg" class="masterSchemaImage">
  </div>
</ion-grid>
